<h4><%= link_to 'New Itinerary', new_itinerary_path %></h4>
<h4>Angular Check {{6*8}}</h4>
<table>

  <thead>
    <th>Name</th>
    <th>Description</th>
    <th>Start Date</th>
    <th>End Date</th>
  </thead>

  <tbody>
    <% @itinerary.each do |i| %>
    <% unless i.name == nil %>
      <tr>
        <td><%= i.name.capitalize %></td>
        <td><%= i.description %></td>
        <td><%= i.start_date %></td> 
        <td> <%= i.end_date %></td>
        <td><%= link_to 'Edit', edit_itinerary_path(i) %> | <%= link_to 'X', i, method: :delete %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>

</table>