<% if !current_user.nil? %>

</br></br></br></br></br>

<% @events.each do |e| %>
  <%= e.name %></br>
  <%= e.date %></br>
  <%= e.start_time %></br>
  <%= e.location %></br>
<% end %>

<% else %>
<!-- Section 1 -->
<div class="the-bod">
		<section id="intro" data-speed="6" data-type="background">
		    <div class="container">
		        <div class="logo"><img src="<%= asset_path('logo_comp_1a.svg') %>"></div>
		    </div>
		</section>
		<!-- Section 2 -->
		<section id="home" data-speed="4" data-type="background">
		    <div class="container">
		      	<h1 class="text-center home-text l1">Create, Read, Update & Destroy</h1>
		      	<h1 class="text-center home-text b1">Travel Itineraries like a bawse.</h1>
				</div>
		</section>
		<!-- Section 3 -->
		<section id="about" data-speed="2" data-type="background">
		    <div class="container">
		    	<div class="text-center b2"> MAP! </div>
		    </div>
		</section>
				<!-- Section 4 -->
		<section id="last" data-speed="0" data-type="background">
		    <div class="container">
		    	<div class="text-center b2"></div>
		    </div>
		</section>
	</div>

<% end %>

