<!DOCTYPE html>
<!-- <html ng-app="knappApp"> -->
<html ng-app="knappApp"  ng-controller="searchController">
<head>
  <title>Knappsack</title>
  <%= javascript_include_tag '//maps.googleapis.com/maps/api/js?sensor=false' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body ng-controller="itineraryController">

<!-- Sign Up Modal -->

<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header mod-head">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span style="color: white;" aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
      </div>
      <div class="modal-body">
        <%= render partial: "users/signup", modal: true %>
      </div>
    </div>
  </div>
</div>

<!-- Login Modal -->

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header mod-head">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span style="color: white;" aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      <div class="modal-body">
            <!-- Login Form as partial still problematic -->
            <%= form_for :user, url: '/login' do |f| %>
            <div class="form-group">
              Email: <%= f.text_field :email, class: 'form-control' %>
            </div>
            <div class="form-group">
              Password: <%= f.password_field :password, class: 'form-control' %>
            </div>
            <%= f.submit "login", class: 'btn btn-primary' %>
            <% end %>
            <!-- end of form -->
      </div>
    </div>
  </div>
</div>

<!-- end of login modal -->

<!-- Navbar partial -->

<div class="container-fluid">
  <%= render partial: 'layouts/nav' %>
</div>

<!-- Itineraries Form / only available to logged in users -->

<!-- end -->

<%= yield %>

</body>

</html>