<!DOCTYPE html>
<html>
<head>
  <title>Knappsack</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- TypeKit -->
</head>

<body ng-app>

<!-- Navbar Start -->

<nav class=" navbar navbar-inverse navbar-fixed-top nav">
  <div class="container-fluid">
    <a class="navbar-brand" href='/users'><img class="bug" alt="Brand" src="<%= asset_path('logo_comp_2a.svg')%>"></a>
    <div class="navbar-form">
      	<!-- Login / Sign up Links Start-->
  	    <% if current_user %>
  			<div class="navbar-text"><%= current_user.first_name.upcase + " " + current_user.last_name.upcase %> | <%= link_to "SIGN OUT", logout_path %></div>
  			<% else %>
  			<!-- Buttons trigger modals -->
        <ul class="navbar-right">
  			<li><button type="button" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#signupModal">
  		 	 Sign Up
  			</button>
  			<button type="button" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#loginModal">
  		 	 Login
  			</button></li>
        </ul>
			<% end %> 
    </div> <!-- /.navbar-form -->
</nav>
<!-- Navbar end -->

<!-- Modals -->

<!-- Sign Up Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header mod-head">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="red" aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
        </div>
        <div class="modal-body">
       <%= render partial: "users/signup", modal: true %> {{3*7}}
      </div>
    </div>
  </div>
</div>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header mod-head">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="red" aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      <div class="modal-body">
            <!-- Login Form as partial was problematic -->
            <%= form_for :user, url: '/login' do |f| %>
            <div class="form-group">
              Email: <%= f.text_field :email, class: 'form-control' %>
            </div>
            <div class="form-group">
              Password: <%= f.password_field :password, class: 'form-control' %>
            </div>
            <%= f.submit "login", class: 'btn btn-primary' %>
            <% end %>
            <!-- end of form -->
      </div>
    </div>
  </div>
</div>
<!-- end of login modal -->

<%= yield %>

</body>

</html>