<!DOCTYPE html>
<!-- <html ng-app="knappApp"> -->
<html ng-app="myApp"  ng-controller="searchController">
<head>
  <title>Knappsack</title>
  <%= javascript_include_tag '//maps.googleapis.com/maps/api/js?sensor=false' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <%= csrf_meta_tags %>
</head>

<body ng-controller="itineraryController">

<!-- Sign Up Modal -->

<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header mod-head">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="red" aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
      </div>
      <div class="modal-body">
        <%= render partial: "users/signup", modal: true %>
      </div>
    </div>
  </div>
</div>

<!-- Login Modal -->

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header mod-head">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="red" aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      <div class="modal-body">
            <!-- Login Form as partial still problematic -->
            <%= form_for :user, url: '/login' do |f| %>
            <div class="form-group">
              Email: <%= f.text_field :email, class: 'form-control' %>
            </div>
            <div class="form-group">
              Password: <%= f.password_field :password, class: 'form-control' %>
            </div>
            <%= f.submit "login", class: 'btn btn-primary' %>
            <% end %>
            <!-- end of form -->
      </div>
    </div>
  </div>
</div>

<!-- end of login modal -->

<!-- Navbar Start -->

<div class="container-fluid">
  <nav class="navbar navbar-inverse navbar-fixed-top nav">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <!-- Logo bug -->
          <a class="navbar-brand" href='/users' data-no-turbolink='false' ><img class="bug" alt="Brand" src="<%= asset_path('logo_comp_2a.svg')%>"></a>
      </div>
    <div class="navbar-form">
    <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"></div> -->
        <!-- Search Input -->
        <div class="input-group navbar-form navbar-left search-form">
          <span class="input-group-btn">
            <input type="text" class="form-control" placeholder="Search for...">
            <input type="text" class="form-control" placeholder="Location...">
            <button type="submit" class=" search-btn btn">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
          </span>
          <!-- Search Filtration buttons -->
          <div class="search-filters">
          <label class="checkbox-inline f1">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> Dining
          </label>
          <label class="checkbox-inline f1">
            <input type="checkbox" id="inlineCheckbox2" value="option2"> Destinations
          </label>
          <label class="checkbox-inline f1">
            <input type="checkbox" id="inlineCheckbox3" value="option3"> Events
          </label>
          </div>
        </div>
    </div>
    <!-- Login / Sign up Links Start-->
      <% if current_user %>
        <!-- Dropdown for selscting itin and sign out -->
        <div class="signandlog-btn">
          <div class="dropdown pull-right">
            <button class="btn btn-primary dropdown-toggle navbar-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              <span class="glyphicon glyphicon glyphicon-cog  " aria-hidden="false"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
             <li role="presentation"><%= link_to "SIGN OUT", logout_path, 'data-no-turbolink' => true %></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="selectitin = !selectitin">SELECT ITINERARY</a></li>
            </ul>
          </div> 
        </div>        
        <div class="navbar-nav navbar-right menu-links f1" role="menu" aria-labelledby="dropdownMenu">
          <button class="btn btn-primary navbar-btn" ng-click="itinform = !itinform">CREATE NEW ITINERARY</button>
        </div>
        <% else %>
        <!-- Login & Sign up Links Start / Modal Triggers -->
        <div class="input-group signandlog-btn navbar-right">
          <div class="">
            <div><button type="button" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#signupModal">
             Sign Up
            </button>
            <button type="button" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#loginModal">
              Login
            </button>
            </div>
          </div>
        </div>
    <% end %> 
  </nav>
</div>
<!-- Navbar end -->

<!-- Itineraries Form / only available to logged in users -->
<% if current_user %>
  <div ng-show="itinform">
    <%= render partial: "/itineraries/form" %>
  </div>
<% end %>
<!-- end -->

<%= yield %>

</body>

</html>